div .body {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
    display: flex;
}

/* Style the topnav links */
.topnav a {
    text-decoration: none;
}

.topnav div {
    display: flex;
    color: #f2f2f2;
    align-items: center;
    padding: 6px 16px;
}

.topnav p {
    margin-bottom: 0;
}

.topnav div:hover {
    color: #000000;
    background-color: #ddd;
}

.topnav div:hover img {
    filter: invert(100%);
}

.router-link-active  div:hover img {
    filter: invert(0%);
}

.router-link-active div {
    color: #ffffff;
    font-weight: bold;
}

.router-link-active div:hover {
    color: #f2f2f2;
    background-color: #333;
}