* {
    box-sizing: border-box;
}

body {
    font-family: Quicksand; /* Arial */
    padding: 10px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    padding: 20px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

#lang-switch {
    position: absolute;
    right: 30px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav p {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.topnav div {
    display: inline-block;
    color: #f2f2f2;
}

.topnav div:hover {
    color: #000000;
    background-color: #ddd;
}

.router-link-active div {
    color: #ffffff;
    font-weight: bold;
}

.router-link-active div:hover {
    color: #f2f2f2;
    background-color: #333;
}

div .row {
    margin-top: 20px;
}

.row p, .row li {
    font-size: 15px;
    line-height: 1.3;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
    float: left;
}

/* Right column */
.rightcolumn {
    float: left;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
}

.parcelle {
    background-color: #e2e2e2;
    padding: 20px;
    margin: 5px;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.link {
    text-decoration: none;
}

.wrapper {
    display: inline-block;
}

figure {
    text-align:center;
}

figcaption {
    size: 10px;
}
  

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
} 